## To submit this assignment, please answer the following questions. Then, save your notebook with the format [NETID]\_class5_homework and submit via Brightspace.

---

OVERVIEW: Your task in the next set of homework problems are to continue our prep of the Census file for use in a databse. This file will need to execute correctly in performing all the actions to receive full credit.

### **Problem 1 (4 points)**

> Create a User Defined Function that removes all other columns from the data set in the nested structure EXCEPT the following columns. The following 29 columns MUST remain in the dataset, and no others:
>> 1. Id2
2. Number-SEX_AND_AGE_Total_population
3. Number-SEX_AND_AGE_Total_population_Under_5_years
4. Number-SEX_AND_AGE_Total_population_5_to_9_years
5. Number-SEX_AND_AGE_Total_population_10_to_14_years
6. Number-SEX_AND_AGE_Total_population_15_to_19_years
7. Number-SEX_AND_AGE_Total_population_20_to_24_years
8. Number-SEX_AND_AGE_Total_population_25_to_29_years
9. Number-SEX_AND_AGE_Total_population_30_to_34_years
10. Number-SEX_AND_AGE_Total_population_35_to_39_years
11. Number-SEX_AND_AGE_Total_population_40_to_44_years
12. Number-SEX_AND_AGE_Total_population_45_to_49_years
13. Number-SEX_AND_AGE_Total_population_50_to_54_years
14. Number-SEX_AND_AGE_Total_population_55_to_59_years
15. Number-SEX_AND_AGE_Total_population_60_to_64_years
16. Number-SEX_AND_AGE_Total_population_65_to_69_years
17. Number-SEX_AND_AGE_Total_population_70_to_74_years
18. Number-SEX_AND_AGE_Total_population_75_to_79_years
19. Number-SEX_AND_AGE_Total_population_80_to_84_years
20. Number-SEX_AND_AGE_Total_population_85_years_and_over
21. Number-SEX_AND_AGE_Male_population
22. Number-SEX_AND_AGE_Female_population
23. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-White
24. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Black_or_African_American
25. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-American_Indian_and_Alaska_Native
26. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Asian
27. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Native_Hawaiian_and_Other_Pacific_Islander
28. Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Some_Other_Race
29. Number-HISPANIC_OR_LATINO_Total_population_Hispanic_or_Latino_of_any_race

In [110]:
import pandas as pd
import re

def get_set(keep_list,data_set):
  index_list = []
  len_data_column = len(data_set.columns.values.tolist()) #get how many column in this dataset
  data_set_head_list = [] #regards the above name as the new column name
  for j in range(0,len_data_column):
    new_check_name = data_set.iloc[:,j][0] #get the string wait to decide whether reserve this column
    new_check_name = re.sub(r"[^\w\s]","",new_check_name).replace(" ","") #remove all the punctuation in the strings
    data_set_head_list.append(new_check_name) #add this string to this list to wait to check whether it is in keep list
  for i in range(0,len_data_column):
    #if this column name in keep_list, then record its index in index_list
    if data_set_head_list[i] in keep_list:
      index_list.append(i)
    #if this column name not in keep_list, move to the next column name
    else:
      continue
  #return the list that contains all the index of column need to be reserved
  new_data_set = data_set.iloc[:,index_list]
  #return the new dataset
  return new_data_set


#keep_list contains all the names of columns need to remain
keep_list_1 = ["Id2","Number-SEX_AND_AGE_Total_population","Number-SEX_AND_AGE_Total_population_Under_5_years","Number-SEX_AND_AGE_Total_population_5_to_9_years","Number-SEX_AND_AGE_Total_population_10_to_14_years","Number-SEX_AND_AGE_Total_population_15_to_19_years","Number-SEX_AND_AGE_Total_population_20_to_24_years","Number-SEX_AND_AGE_Total_population_25_to_29_years","Number-SEX_AND_AGE_Total_population_30_to_34_years","Number-SEX_AND_AGE_Total_population_35_to_39_years"]
keep_list_2 = ["Number-SEX_AND_AGE_Total_population_40_to_44_years","Number-SEX_AND_AGE_Total_population_45_to_49_years","Number-SEX_AND_AGE_Total_population_50_to_54_years","Number-SEX_AND_AGE_Total_population_55_to_59_years","Number-SEX_AND_AGE_Total_population_60_to_64_years","Number-SEX_AND_AGE_Total_population_65_to_69_years","Number-SEX_AND_AGE_Total_population_70_to_74_years","Number-SEX_AND_AGE_Total_population_75_to_79_years","Number-SEX_AND_AGE_Total_population_80_to_84_years","Number-SEX_AND_AGE_Total_population_85_years_and_over"]
keep_list_3 = ["Number-SEX_AND_AGE_Male_population","Number-SEX_AND_AGE_Female_population","Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-White","Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Black_or_African_American","Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-American_Indian_and_Alaska_Native","Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Asian","Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Native_Hawaiian_and_Other_Pacific_Islander","Number-RACE_Race_alone_or_in_combination_with_one_or_more_other_races-4-Some_Other_Race","Number-HISPANIC_OR_LATINO_Total_population_Hispanic_or_Latino_of_any_race"]
keep_list = keep_list_1+keep_list_2+keep_list_3

#remove all the punctuation in the strings in keep list
for t in range(0,len(keep_list)):
  keep_list[t] = re.sub(r"[^\w\s]","",keep_list[t]).replace("_","")
#read file
data_set = pd.read_csv("/content/raw_census_2010.csv")
#use function
new_data_set = get_set(keep_list,data_set)
#write new dataset into a csv file
new_data_set.to_csv("new_census_2010.csv",index=False)

---

### **Problem 2 (1 point)**

> Create a User Defined Function that transforms your nested data structure back into a string so it can be written to a file as a Comma-Separated-Values (CSV) file.

In [111]:
import csv

def into_csv(sub_list):
  each_line = []
  #use category and shopping list as the first column
  each_line.append(sub_list[0])
  #use all the shopping items as the second item, use join to turn sub_sub_list to a string
  new_content = ", ".join(sub_list[1])
  each_line.append(new_content)
  #write this list as a new line into csv file, each_line[0] is the first column, each_line[1] is the second column
  with open("problem2.csv", "a+", newline='') as f:
    writer = csv.writer(f)
    writer.writerow(each_line)
  return 

#this is my nested structure
nested_list = [
               ["category",["item 1","item 2","item 3"]],
               ["shopping list 1",["apple","orange","banana"]],
               ["shopping list 2",["water","coke","wine"]],
               ["shopping list 3",["milk","pancake","cake"]],
               ["shopping list 4",["beef","pork","lamb"]]
]

#use function sub_list for each sub list
for sub_list in nested_list:
  into_csv(sub_list)